.root {
    max-height: 100vh !important;
    position: relative;

    .navbar {
        height: 70px;
    }

    .main {
        max-height: calc(100vh - 70px) !important;
        position: relative;

        .content {
            padding: 5px 20px;
            overflow-y: scroll;
            max-height: 100%;
            position: relative;

            .chatbox {
                min-height: 100%;
                padding: 10px 20px;
                
                .contact_list {
                    padding: 0 10px;
                    min-height: 100%;
                }
                .message_area {
                    position: relative;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column; 

                }
            }
        }
    }
}