// .root{
    .paid_btn{
        color: white;
        border-radius: 20px;
        border: 1px solid red;
    }
    .pending_btn{
        color: white;
        border-radius: 20px;
        border: 1px solid red;

    }

// }