.switch {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .switch_button {
        translate:  all 1s ease-in;
        font-weight: bold;
        border-radius: 0px !important;
        &:hover {
            background: #14A5E8;
            color: white
        }
    }
    .isActive {
        border-radius: 0px !important;
        border-bottom: 5px solid aqua;
    }
}

