.root{
    justify-content: space-around;
    .col{
        .actions{
            align-items: center;
            .submit {
                color: white;
                padding: 5px;
                margin: 5px;
                border-radius: 20px;
            }
        }
    }
}