.root{
    .navbar{
        height: 70px;
    }
    .order{
        .content{
            position: relative;
            .map{
                height: 100% !important;
            }
            
        }
    }
}