.sidebar{
    min-height: calc(100vh - 70px);
    background-color: rgb(245, 245, 245);
    .sidebar_menu{
        .menulists{
            width: 100%;
            .list_item{
                padding-left: 30%;
            }
        }
    }
    .sidebar_action{
        display: flex;
        align-items: flex-end;
        .menulists{
            width: 100%;
            .list_item{
                padding-left: 30%;
            }
        }
    }
   
}