.main{
    min-height: 100vh;
    max-height: 100vh;
    // position: relative;
    .left{
        height: 100%;
        padding: 50px;
        border-right: 1px solid rgba($color: #ccc, $alpha: 0.5);
        position: relative;
        .imageContainer{
            position: relative;
            min-height: 80vh;
        }
    }
    .right{
        padding: 0 7%;
        display: flex;
        flex-direction: column;

        .logoArea{
            flex: 0.35;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .authForm{
            flex: 0.65;
            .CustomSwitch{
                width: 100%;
                position: relative;
                margin: 20px 0;
            }
        }
    }
}
