.main{
    min-height: 100vh;
    .left{
        padding: 50px;
        border-right: 1px solid rgba($color: #ccc, $alpha: 0.5);
        position: relative;
        .imageContainer{
            position: relative;
            height: 100%;
        }
    }
    .right{
        overflow: hidden;
        padding: 5% 7%;
        .logo{
            text-align: center;
            margin: 50px 0px;
            img{
                border: 1px solid blue;
            }
        }
        .CustomSwitch{
            width: 100%;
            position: relative;
            margin: 20px 0;
        }
    }
}
